<div class="footer">
    <div class="github">
        <p>Check out other projects on my Github</p>
        <a href="https://github.com/Beppe94">
            <img src="/github.png" alt="Github Logo">
        </a>
    </div>
    <div class="contact">
        <p>Get in touch</p>
        <a href="mailto:mr_beppe94@hotmail.com">
            <img src="/mail.png" alt="Mail Logo">
        </a>
    </div>
</div>