<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <a href="/"><button>Home</button></a>
    <div>
        <nav>
            <h1>Home</h1>
        </nav>

        <div class="cardContainer">
            <a href="/newGame" class="addButton"><button class="addButton">+</button></a>
            <%-include("./gameList", data)%>
        </div>
        
    </div>
</body>
</html>