<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <a href="/"><button>Home</button></a>
    <a href="/newGame"><button>Add Game</button></a>
    <div>
        <nav>
            <h1>Home</h1>
        </nav>

        <div>
            <%-include("./gameList", data)%>
        </div>
        
    </div>
</body>
</html>