<header class="nav">
    <div class="homeContainer">
        <a href="/">    
            <img src="/controller.svg" alt="Controller" class="nav-img">
        </a>
        <p>Game Invenotry</p>
    </div>
    <%-include("./search")%>
</header>