<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Game</title>
</head>
<body>
    <div>
        <form action="/newGame" method="POST" name="newGame">
            <label id="title">Title:</label>
            <input type="text" name="title">
            <label id="description">Description:</label>
            <input type="text" name="description">
            <label id="image">Image:</label>
            <input type="text" name="image">
            <label id="price">Price:</label>
            <input type="number" step="0.01" name="price">
            <label id="publisher">Publisher:</label>
            <input type="text" name="publisher">
            <label id="reviews">Reviews:</label>
            <input type="number" step="0.01" name="reviews">
            <label id="genre">Genre:</label>
            <input type="text" name="genre">
            <button type="submit">Add</button>
        </form>
    </div>
</body>
</html>