@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Teko:wght@300..700&display=swap');

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100dvw;
    height: 100dvh;
    font-family: "Teko", serif, Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 400;

    background: linear-gradient(132deg, #ec6c22, #1946da, #d1ce25) no-repeat center;
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    position: relative;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

.cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: 1px solid #9b979798;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
    z-index: -1;
}

.cube:nth-child(2n) {
    border-color: #FFF ;
}

.cube:nth-child(2) {
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}

.cube:nth-child(3) {
  animation-delay: 3s;
  left: 75vw;
  top: 50vh;
}

.cube:nth-child(4) {
  animation-delay: 5s;
  left: 90vw;
  top: 10vh;
}

.cube:nth-child(5) {
  animation-delay: 7s;
  left: 10vw;
  top: 85vh;
}

.cube:nth-child(6) {
  animation-delay: 9s;
  left: 50vw;
  top: 10vh;
}

.nav {
    width: 100%;
    display: flex;
    align-items: center;
}

.nav-img {
    width: 120px;
    height: auto;
}

.homeContainer {
    position: relative;
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .4s ease;
}

.homeContainer p {
    position: absolute;
    bottom: 5px;
    color: #fff;
}

.homeContainer:hover {
    filter: invert();
}

.searchBar {
    width: calc(100% - 120px);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.searchBar input {
    font-size: 18px;
    padding: 5px;
    border-radius: 10px;
    height: 40px;
    width: 300px;
}

.wrapper {
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card {
    display: flex;
    border: 2px solid #fff;
    border-radius: 10px;
    min-height: 320px;
}

.card img {
    max-width: 240px;
    max-height: 320px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
    border-right: 2px solid #fff;
}

.wrapInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.cardTop {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(201, 194, 194);
    font-size: 32px;
}

.title {
    display: flex;
    align-items: center;
}

.reviews {
    display: flex;
    gap: 5px;
    align-items: center;
}

.wrapTags {
    width: 100%;
    height: calc(100% - 32px);
    position: relative;
    display: flex;
    justify-content: space-between;
}

.price {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    font-size: 32px;
}

.tags {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: 5px;
}

.tags p {
    background-color: #e0d8d370;
    padding: 3px;
    border-radius: 10px;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100dvw;
    font-size: 24px;
}

.github {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.github img {
    width: 40px;
    height: auto;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.contact img {
    width: 40px;
    height: auto;
    filter: invert();
}

@media screen and (max-width: 560px) {
    .nav {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

@keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      transform: scale(20) rotate(960deg) translate(-40%, -40%);
      opacity: 0;
    }
}