@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Teko:wght@300..700&display=swap');

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Teko", serif, Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 400;
    
    --s: 15px;
    --c1: #84a89a96;
    --c2: #a55b5b;
    
    --c:#0000,var(--c1) .5deg 119.5deg,#0000 120deg;
    --g1:conic-gradient(from  60deg at 56.25% calc(425%/6),var(--c));
    --g2:conic-gradient(from 180deg at 43.75% calc(425%/6),var(--c));
    --g3:conic-gradient(from -60deg at 50%   calc(175%/12),var(--c));
    background:
      var(--g1),var(--g1) var(--s) calc(1.73*var(--s)),
      var(--g2),var(--g2) var(--s) calc(1.73*var(--s)),
      var(--g3) var(--s) 0,var(--g3) 0 calc(1.73*var(--s)) 
      var(--c2);
    background-size: calc(2*var(--s)) calc(3.46*var(--s));
}

.nav {
    width: 100%;
}

.nav-img {
    width: 120px;
    height: auto;
}

.homeContainer {
    position: relative;
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .4s ease;
}

.homeContainer p {
    position: absolute;
    bottom: 5px;
    color: #fff;
}

.homeContainer:hover {
    filter: invert();
}
